<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div> <div>
        <form th:object="${totalOrderSearch}" class="form-inline">
<!--            <div class="form-group mb-2">-->
<!--                <input type="text" th:field="*{orderDate}" class="form- control" placeholder="주문서날짜"/>-->
<!--            </div>-->
            <div class="form-group mx-sm-1 mb-2">
                <label for="orderDate">날짜</label>
                <input type="date" th:field="*{orderDate}" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary mb-2">검색</button> </form>
    </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>생성순서</th> <th>주문날짜</th> <th>생성날짜</th>
<!--                <th>대표상품 주문수량</th> <th>상태</th> <th>일시</th> 제-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${totalOrders}"
                th:onclick="'window.location.href = \'totalOrders/' + ${item.id} + '\''"
                style = "cursor:pointer">
                <td th:text="${item.id}"></td>
                <td th:text="${item.ord}"></td>
                <td th:text="${item.orderDate}"></td>
                <td th:text="${item.createDate}"></td>
<!--                <td th:text="${item.orderItems[0].item.name}"></td>-->
<!--                <td th:text="${item.orderItems[0].orderPrice}"></td>-->
<!--                <td th:text="${item.orderItems[0].count}"></td>-->
<!--                <td th:text="${item.status}"></td>-->
<!--                <td th:text="${item.orderDate}"></td>-->
<!--                <td>-->
<!--                    <a th:if="${item.status.name() == 'ORDER'}" href="#"-->
<!--                       th:href="'javascript:cancel('+${item.id}+')'"-->
<!--                       class="btn btn-danger">CANCEL</a>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/orders/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>